.DS_Store

.idea/
target/
build/

md_vega_mm_2023_spring/
PDFs/

data/

__pycache__
.pytest_cache/
venv

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.ini
*.lot
*.lof
*.pyc
*.pygtex
*.pygstyle

_minted-*

Conference 2023 Materials/report/document.pdf
Conference 2023 Materials/poster/poster.pdf
Conference 2023 Materials/presentation/presentation.pdf