.DS_Store

md_vega_mm_2023_spring/*
PDFs/*

data_parsing/.idea/*
data_parsing/target/*

data_parsing/data/USD_RUB_T+1__2022-11-10_PQ_ask.tsv
data_parsing/data/USD_RUB_T+1__2022-11-10
data_parsing/data/USD_RUB_T+1__2022-11-10_PQ_bid.tsv
data_parsing/data/USD_RUB_T+1__2022-11-10_QdP_ask.tsv
data_parsing/data/USD_RUB_T+1__2022-11-10_QdP_bid.tsv

optexec/__pycache__